/*vico*/


body.tundra.mimi {
    font:14px "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color:#555;
}

.frameindexroot{
    background:linear-gradient(to right, #ffffff, #bacbdf);    
}
.frameindexcenter{
    background:linear-gradient(to top, #f6f8fa, #ffffff);    
}

/* @group Floating pane */

._common_d11 .dojoxDockRestoreButton {
    float: left;
    height: 13px;
    margin-top: 1px;
}

._common_d11 .dojoxDockNode {
    border-radius:2px;
    border: 1px solid #ADADAD;
    cursor: pointer;
    float: left;
    height: 13px;
    list-style: none outside none;
    margin-top: 3px;
    padding: 0 7px 3px 0;
    width: auto;
    font-size: .9em;
    background-color: rgba(170, 190, 201, 0.2);
}

.tundra .dojoxFloatingPane .dijitTabInnerDiv {
    padding: 2px 9px;
}


.tundra .smallTabs .dijitTabInnerDiv {
    padding: 2px 9px;
}

._common_d11 .dojoxFloatingPaneContent {

}

._common_d11 .dojoxFloatingPane {
    border-radius: 4px;
    box-shadow: 3px 3px 4px #666;
    border-color:silver;
}

._common_d11.tundra .dojoxFloatingPaneTitle {
    background-image: linear-gradient(to right top, #172b51, #1b3058, #20345e, #243965, #293e6c);
    vertical-align: middle;
    text-align: center;
    color: #f6f6f6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 2px;
    padding-bottom: 3px;
    border:0;
}
.slotbar_toolbar_standard{
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom,rgba(220, 222, 224, 0.7), #eff1f3bf, #f3f4f5da);
}

._common_d11.tundra.theme_variant_green .dojoxFloatingPaneTitle{
    background-color: #50c9c3;
    background: linear-gradient(to bottom, #1d976c, #37ce99);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}

._common_d11.tundra.theme_variant_blue .dojoxFloatingPaneTitle{
    background-color: #182848;
    background: linear-gradient(to bottom, #4b6cb7, #3b6391);
}

._common_d11.tundra.theme_variant_red .dojoxFloatingPaneTitle{
    background-color: #d31027;
    background:linear-gradient(to bottom, #d31027, #ea384d);
}

._common_d11.tundra.theme_variant_orange .dojoxFloatingPaneTitle{
    background-color:#e65c00;
    background: linear-gradient(to bottom, #fa8435, #f96723);
}

._common_d11.tundra.theme_variant_yellow .dojoxFloatingPaneTitle{
    background-color:rgba(234, 203, 110, 1);
    color:rgba(30, 48, 85, 1);
}



/* @end */

/* @group pbl_elements */

/* @group Root Layout */


/* @group top */

.pbl_username {
    border-radius: 4px;
    background-color: #bfb6ae;
    color: #403b3b;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 6px;
}

.pbl_slotbar_label {
    background-color: transparent;
    color:white !important;
}

.mimi .pbl_root_top {
    height: 24px;
    vertical-align: middle;
    color:var(--root-top-color);
    background:var(--root-top-background);
}
.mimi .pbl_root_top .gnrfieldlabel{
    color:rgba(30, 48, 85, 1);
}

.mimi.theme_variant_green .pbl_root_top{
    background-color: #50c9c3;
    background: linear-gradient(to bottom, #1d976c, #37ce99);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color:white;

}
.mimi.theme_variant_green .pbl_root_top .gnrfieldlabel{
    color:white;
}
.mimi.theme_variant_red .pbl_root_top{
    background-color:#d31027;
    background: linear-gradient(to bottom, #d31027, #ea384d);
    color:white;

}
.mimi.theme_variant_red .pbl_root_top .gnrfieldlabel{
    color:white;
}

.mimi.theme_variant_blue .pbl_root_top{
    background-color: #182848;
    background: linear-gradient(to bottom, #4b6cb7, #3b6391);
    color:white;
}
.mimi.theme_variant_blue .pbl_root_top .gnrfieldlabel{
    color:white;
}

.mimi.theme_variant_orange .pbl_root_top{
    background-color:#e65c00;
    background: linear-gradient(to bottom, #fa8435, #f96723);
    color:white;
}
.mimi.theme_variant_orange .pbl_root_top .gnrfieldlabel{
    color:white;
}

.mimi.theme_variant_yellow .pbl_root_top{
    background-color:rgba(234, 203, 110, 1);
    color:rgba(30, 48, 85, 1);
}
.mimi.theme_variant_yellow .pbl_root_top .gnrfieldlabel{
    color:rgba(30, 48, 85, 1);
}


/*background-color: #59514f;
    color: #ece3da;*/


.pbl_background {
    background-color: #ffffff;
}

.linkerCenter{
    background: white;
    margin: 2px;
    border:1px solid #ddd ;
    border-radius: 4px;
}

/* @group Logo */

/*.pbl_logo_icon{
	background: url(icons/genropy.gif) no-repeat  center center;
	width: 30px;
	height: 24px;
}*/

.pbl_logo_caption {
    font-size: 8.5pt;
    font-weight: bold;
    text-align: left;
    margin-top: 6px;
}

/* @end */

/* @end */

/* @group bottom */

/* @group  pbl_messageBottom*/

.pbl_messageBottom {
    text-align: center;
    padding-top: 2px;
}

/* @end */

/* @end */

.pbl_root {
}
.pbl_root_bottom {
    vertical-align: middle;
    background-color: #711B2A;
}


/* @end */

/* @group Widget */

/* @group Dialog */

.pbl_dialog_center {
/*not mandatory*/
}

/* @end */

/* @group includedviewbox */

.pbl_viewBox {
    padding: 5px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(170, 190, 201, 0.2);
}

.pbl_viewBoxLabel {
    height: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: rgba(177,191,206,0.9);
    color: #000;
}

/* @end */

/* @end */

/* @group Form group */
.gnr_footer{
    background-color: rgb(217, 227, 233);
}
.pbl_roundedBlock{
    border-radius: 6px;
    position: absolute;
    top:2px;
    bottom:2px;
    left:2px;
    right: 2px;
    border:1px solid #ddd;
}

.pbl_roundedGroup {
    border-radius: 6px;
    border:1px solid #ddd;
}

.pbl_roundedGroupLabel {
    height: 22px;
    line-height:19px;
    padding-bottom: 0;
    padding-top:2px;
    padding-left: 4px;
    padding-right: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1em;
    background:#c2d0e9;
    background:linear-gradient(to bottom, #c2d0e9,  #d6dfee);
    color: #444;
	text-indent: 2px;
}
.pbl_roundedGroupVertical {
    background:#c2d0e9;
    background:linear-gradient(to bottom, #c2d0e9,  #d6dfee);
}



.pbl_roundedGroupLabel .slotButtonIconOnly .dijitButtonNode, .iconOnly.slotButtonIconOnly .dijitButtonNode, .iconOnly .dijitButtonNode{
    border:0;
    background:transparent;
    padding: 0px 0px;
}

.pbl_roundedGroupLabel.slotbar_horizontal{
    padding-left:0;
    padding-right:0;
    vertical-align: middle;
}
.pbl_roundedGroupLabel.slotbar_horizontal .slotbar_cell{
    height:20px;
    line-height:14px;
}


.pbl_roundedGroupLabel .dijitButton{
}
.tundra._common_d11 .dijitButtonText{
    text-align: center;
    padding: 2px 5px;
    color: #555;
}
.dijitButtonNode .fh_semaphore{ 
    transform:rotate(0deg) scale(0.8);
}

.pbl_roundedGroupBottom {
    height: 18px;
    padding-left: 10px;
    font-size: 0.9em;
    background-color:#B4BECB;
}

/* @end */



/* @group Form group rect */
.pbl_rectGroup {
    background-color: rgba(170,190,201,0.2);
}

.pbl_rectGroupLabel {
    height: 22px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-top: 5px;
    background:#c2d0e9;
    background:linear-gradient(to bottom, #c2d0e9,  #d6dfee);
    color: #444;
}

.pbl_rectGroupBottom {
    height: 18px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-bottom: 5px;
    background:#c2d0e9;
    background:linear-gradient(to bottom, #c2d0e9,  #d6dfee);
}

/* @end */

/* @end */

/* @group Widget Customization */

/* @group Dialog */

/* @group alert */

.dlg_msgbox {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border: 0px;
    background-color: rgba(170, 190, 201, 0.2);
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    padding-top: 2em;
    border-radius: 4px;
}

.alertBodyMessage{
    color:#555;
    margin:12px;
}
/* @end */

.tundra._common_d11 .dijitDialogTitleBar {
    background-image: linear-gradient(to right top, #172b51, #1b3058, #20345e, #243965, #293e6c);
    color: #ffffff;
    vertical-align: middle;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    font-weight:normal;
    border-bottom:1px solid #ccc;
    font-size: .9em;
}

.tundra._common_d11 .commonTitleBar {
    background-image: linear-gradient(to right top, #172b51, #1b3058, #20345e, #243965, #293e6c);
    color: #ffffff;
    text-align: center;
    font-weight:normal;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tundra._common_d11.theme_variant_green .dijitDialogTitleBar,.tundra._common_d11.theme_variant_green .commonTitleBar{
    background-color: #50c9c3;
      background: linear-gradient(to bottom, #1d976c, #37ce99);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color:white;
}

.tundra._common_d11.theme_variant_red .dijitDialogTitleBar, .tundra._common_d11.theme_variant_red .commonTitleBar{
    background-color:#d31027;
    background:linear-gradient(to bottom, #d31027, #ea384d);
}
.tundra._common_d11.theme_variant_blue .dijitDialogTitleBar, .tundra._common_d11.theme_variant_blue .commonTitleBar{
    background-color: #182848;
    background: linear-gradient(to bottom, #4b6cb7, #3b6391);
}

.tundra._common_d11.theme_variant_orange .dijitDialogTitleBar, .tundra._common_d11.theme_variant_orange .commonTitleBar{
    background-color:#e65c00;
    background: linear-gradient(to bottom, #fa8435, #f96723);
}

.tundra._common_d11.theme_variant_yellow .dijitDialogTitleBar, .tundra._common_d11.theme_variant_yellow .commonTitleBar{
    background-color:rgba(234, 203, 110, 1);
    color:rgba(30, 48, 85, 1);
}



/*._common_d11 .dijitDialogCloseIcon {
    display: none;
}*/

._common_d11 .dijitDialog {
    border-radius: 6px;
    background-color: #f6f6f6;
    box-shadow: 3px 3px 5px #403b3b;
    border:1px solid silver;
}

._common_d11 .dijitDialog .dijitDialogPaneContent {

    border-radius:6px;
    border: 0px;
    background-color: #f6f6f6;

    /*background-image: -moz-linear-gradient(-90deg, rgba(170, 190, 201, 0.2), #FFFFFF);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, rgba(170, 190, 201, 0.2), to(#FFFFFF));*/
}

.dialog_bottom {
    height: 22px;
    border-top:1px solid silver;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


/* @end */

/* @group Accordion */
._common_d11 .dijitAccordionContainer {
    border: 1px solid gray;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

._common_d11 .dijitAccordionTitle {
    background: #E0CEBE;
    padding: 4px 4px 4px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: .9em;
}

._common_d11 .dijitAccordionTitle-selected {
    background: #4D5962;
    color: white;
    padding: 5px 4px 5px 8px;
}

._common_d11 .dijitAccordionArrow {
    display: none;
}

/* @end */

.mycolor {
    color: #68858e;
}

.mycolor2 {
    color: rgba(245, 245, 245, 0.99);
}

/* @group Tabcontainer */

._common_d11 .dijitTab {
    font-size: .9em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-image: none;
    background:#c2d0e9;
    background:linear-gradient(to bottom, #c2d0e9,  #d6dfee);
    margin-right: 2px;
    color: #444;
    font-weight: plain;
    /*background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(104,133,142,0.99)), to(rgba(223,223,223,0.99)));
  background-image:-moz-linear-gradient(top, bottom,from(rgba(104,133,142,0.99)), to(rgba(223,223,223,0.99)));*/

}

._common_d11 .dijitTabHover {
    opacity: 0.8;
}

._common_d11 .dijitTabInnerDiv {
    border-left: 0;
    border-bottom: 0;
    padding:3px 5px 3px 5px;
}
._common_d11 .dijitTabLabels-left-h .dijitTabInnerDiv {
    padding:4px 5px 4px 10px;

}
._common_d11 .dijitTabCheckedHover {
    opacity: 1;
}

._common_d11 .dijitTabChecked {
    border-bottom-color: transparent;
    color: #ccc;
    background-color: white;
}

._common_d11 .dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    background:white;
    border-bottom-color: transparent;
    color: #555;
}

._common_d11 .dijitTabPaneWrapper {
    border-radius: 6px;
    border-top-left-radius: 0px;
}

/* @group righttab */

._common_d11 .dijitTabLabels-right-h .dijitTab {

    /*border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;*/
    margin-bottom: 1px;
    border-width: 0;
}

._common_d11 .dijitTabLabels-right-h.dijitAlignRight,._common_d11 .dijitTabLabels-left-h.dijitAlignLeft{
    padding-top: 3px;

}
._common_d11 .dijitTabLabels-left-h.dijitAlignLeft{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-right: 2px;
}
._common_d11 .dijitTabLabels-right-h.dijitAlignRight{
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;  
    padding-left: 2px;  
}

._common_d11 .dijitTabLabels-right-h .dijitTabInnerDiv {
    border: 0; /*padding: 2px 3px;*/
}

._common_d11 .dijitTabLabels-right-h.dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    border-left-color: whitesmoke;
}

/* @end */

/* @group lefttab */

._common_d11 .dijitTabLabels-left-h .dijitTab {

    /*border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:1px solid #ccc;
    margin-left: 3px;
    text-align: right;
    margin-bottom: 2px;
    color:#444;
}
._common_d11 .dijitTabLabels-left-h .dijitTab.dijitTabChecked {
    color:#444;
    background:linear-gradient(to bottom, #fffff3,  #fcf8c5);

}


._common_d11 .dijitTabLabels-left-h  .dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    border-right-color: transparent;
    background:white;
    border-bottom-color: #ccc;
}

/* @end */

/* @end */

/* @group Grid */

/* @end */

/* @group tootlipDialog */

.mimi .dijitLayoutContainer{
    background:transparent;
}
._common_d11 .dijitTooltipDialog .dijitTooltipContainer {
    border-radius: 6px;
    padding: 0px;
    border: 1px solid silver;
    font-size: inherit;
    box-shadow:3px 3px 5px #adadad !important;
    background-color:#f6f6f6;
}

/* @end */

/* @group MenuTree */

.menu_page  > a {
    color: #FFFFFF;
    text-decoration: none;
}

.menu_page  > a:hover {
    text-decoration: underline;
}

.menupane {
    background-color: rgba(168, 181, 182, 0.8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(176, 189, 195, 0.20)), to(rgba(176, 189, 195, 0.9)));
    background-image: -moz-linear-gradient(-90deg, rgba(176, 189, 195, 0.20), rgba(238, 245, 254, 0.9));
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 7px;
    box-shadow: 4px 4px 4px #403b3b;
    border-left: 0px;
}

.menutree {
    margin-top: 5px;
    margin-right:3px; /*font-weight: bold;*/
    background-position: left;
}

.menutree .dijitTreeContent {
    margin-left: 0px;
    min-height: 10px;
    padding-bottom: 4px;
    padding-top: 0px;
}

.menutree .menu_shape {
    padding-top: 6px;
    line-height: 11px;
    margin-right: 8px;
    margin-top: 0px;
    color: #444;
    padding-bottom: 4px;
    background: linear-gradient(45deg, #1f345d26, transparent);
}

.menutree .menu_current_page {
    color:#444;
}
.menutree .menu_existing_page.menu_shape  {
    font-weight:bold;
    padding-top: 5px; /*adjustment for bold*/
    padding-bottom: 5px; /*adjustment for bold*/
}

.menutree .menu_shape:hover {
}

/* @end */

/* @group Standard Table */
.button_placeholder {
    width: 25px;
}

/* @group tablehandler */
.st_editor_bar {
    background-color:#49637c !important;
}

.st_editor_body {
    background-color: rgba(124,151,179,0.8) !important;
}

.listbottompane {
    background-color: rgba(168, 181, 182, 0.8);
}

.listbottompane .dijitButtonNode {
    box-shadow: 1px 1px 2px #403b3b;
}

.listbottompane .dijitButtonNode:hover {
    box-shadow: 2px 2px 4px #403b3b;

}


/* @end */
/* @end */

/* @group General */
/* @group form */

.sectionLabel {
    color: #707070 !important;
    opacity: 0.7 !important;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 3px;
}


.gnrfieldlabel {
    color: #707070;
}

.label {
    color: rgba(95, 75, 66, 0.7);
}

.gnr_recordinfo {
    padding: 5px;
    background-color: #f6f6f6;
    box-shadow: rgb(158, 133, 111) 2px 2px 2px;
    border-radius: 4px;
}

/* @end */

#mainWindow {
    background:linear-gradient(to top, #f6f8fa, #ffffff);    
    font-size: 12px;
}

/* @end */

/* @group Colors */

/* @group font color */

.color_darkest {
    color: rgba(57, 82, 112, 0.99);
}

.color_dark {
    color: #bfb6ae;
}

.color_medium {
    color: #97AEA9;
}

.color_bright {
    color: #eef2fb;
}

.color_brightest {
    color: #f6f6f6;
}

/* @end */

/* @group bgcolor */

.bgcolor_darkest {
    background-color: rgba(57, 82, 112, 0.99);
}

.bgcolor_dark {
    background-color: #bfb6ae;
}

.bgcolor_medium {
    background-color: #97AEA9;
}

.bgcolor_bright {
    background-color: #eef2fb;
}

.bgcolor_brightest {
    background-color: #f6f6f6;
}

/* @end */

/* @end */

.fh_bottom_message {
    background-color: #e6e6e6;
    color:#555;
}


/*grid*/


.draggedItem .dojoxGrid-row{
    border-bottom:1px solid #555;
    border-bottom:1px solid #555;

}

._common_d11.tundra .dojoxGrid-row .dojoxGrid-cell,
._common_d11.tundra .dojoxGrid-row-odd .dojoxGrid-cell,
._common_d11.tundra .dojoxGrid-row.dojoxGrid-row-selected .dojoxGrid-cell{
    border-left: 0px;
    border-top: 0;
    border-right: 1px solid #DDDDDD;
    border-bottom: 0px;
    /*height: 21px;*/
    height:0px;
    background:none;
    vertical-align:top;
}

.touchDevice._common_d11 .dojoxGrid-row .dojoxGrid-cell,
.touchDevice._common_d11 .dojoxGrid-row-odd .dojoxGrid-cell,
.touchDevice._common_d11 .dojoxGrid-row-selected .dojoxGrid-cell{
    border-left: 0px !important;
    border-top: 0 !important;
    border-right: 1px solid #DDDDDD;
    border-bottom: 0px !important;
    /*height: 21px;*/
    height:0px;
    padding-top:4px;
    padding-bottom:4px;
    background:none;
    vertical-align:top;
}


.tundra._common_d11 .dojoxGrid-content>div{
    border-bottom: 1px solid #DDDDDD;
}

.tundra._common_d11 .editingGrid .dojoxGrid-row-odd.dojoxGrid-row-selected,
.tundra._common_d11 .noselect .dojoxGrid-row-odd.dojoxGrid-row-selected{
    background-color: #F3F6FA;
}

.tundra._common_d11 .editingGrid .dojoxGrid-row.dojoxGrid-row-selected,
.tundra._common_d11 .noselect .dojoxGrid-row.dojoxGrid-row-selected{
    background-color:#fff;
}


.tundra._common_d11 .dojoxGrid-row{
    background-color:#fff;
}

.tundra._common_d11 .dojoxGrid-row-odd{
    background-color: #F3F6FA;
}

.tundra._common_d11 .dojoxGrid-row.dojoxGrid-row-selected{
    background-color: #AFCBEC;
}
.tundra._common_d11 .dojoxGrid-row-selected.dojoxGrid-row-odd{
    background-color: #AFCBEC;
}

._common_d11 .canBeDropped .dojoxGrid-row.dojoxGrid-row-odd{
    background-color:rgba(243, 246, 250, 0.5)
}

._common_d11 .canBeDropped .dojoxGrid-row{
    background-color:rgba(255, 255, 255, 0.5)
}

.common_d11 .draggedItem .dojoxGrid-cell,.common_d11 .draggedItem.dojoxGrid-cell{
    border: 0px solid yellow !important;
    opacity:.8;
}

._common_d11.tundra .noheader .dojoxGrid-header {
    display:none;
}



._common_d11.tundra .dojoxGrid-header{
    background-color: #f6f6f6;
    border-color:#666 !important;
    border-bottom:1px solid silver !important;
}

._common_d11.tundra .dojoxGrid-header .dojoxGrid-cell{
    background:none !important;
    height:14px;
    padding-top:2px;
    color:#555 !important;
    border-bottom:0 !important;
    border-color:silver !important;
}

._common_d11 .dojoxGrid-scrollbox {
    overflow: scroll;
    /*background-color: white ; */
}

._common_d11 .buttons_grid  .dojoxGrid-scrollbox{
    overflow: auto;
}

.buttons_grid .dojoxGrid-scrollbox{
    margin-left: 5px;
}

.buttons_grid th{
    display:none;
}
.buttons_grid .dojoxGrid-cell {
    border-left: 0px !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    background: transparent !important;
}

.tundra._common_d11 .buttons_grid .dojoxGrid-row-selected{
    background: transparent !important;
    background-image:none !important;
}
.tundra._common_d11 .buttons_grid .dojoxGrid-row{
    background-image:none !important;
    background: transparent !important;
}
.tundra._common_d11 .buttons_grid .dojoxGrid-cell{
    padding-top:0px !important;
}

.buttons_grid .cellContent{
    border-radius:2px;
    margin-top:0;
    margin-right:0px;
    text-align:center;
    padding-top:2px;
    padding-bottom:1px;
    line-height:16px;
    font-size: 8pt;
    font-variant:small-caps;
    color:#555;
    background-color: #CDCDCD;
    border: 1px solid #666;
    cursor:pointer;
    margin-top:2px;
}

.buttons_grid .dojoxGrid-row-selected .cellContent{
    background:#888;
    color: #fff;
	box-shadow: inset 1px 1px 2px #222;
}



/*

.tundra .dijitSplitter.dijitSplitterV{
    width:4px;
    background: transparent;
}


.tundra .dijitSplitter.dijitSplitterV:hover,.tundra .dijitSplitter.dijitSplitterH:hover{
    background:silver;
    opacity:.5;
}

.tundra .dijitSplitter.dijitSplitterH{
    height:4px;
    background: transparent;
}


.tundra._common_d11 .dijitSplitterThumb{
    display:none;
}

.tundra .dijitSplitter.dijitSplitterV:hover{
    background:silver;
    opacity:.5;
}
*/



._common_d11.tundra .dijitMenuSeparator {
    background: transparent;
}

._common_d11.tundra .dijitMenuSeparatorBottom {
    display: none;
}
._common_d11.tundra .dijitPopup > div, .tundra .dijitPopup > table{
    opacity: 1;
}
.frameindex_left{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
}

.framedindex_tablist{
    background-image: none;
    background-image:var(--frameindex-tablist-background);
    color:var(--frameindex-tablist-color);
    min-height: 34px;
}
.mimi .framedindex_tablist .button_block.iframetab{ 
    padding:2px;
}

.multibutton:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #666;
}
.multibutton:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.multibutton_selected.multibutton, .multibutton:active{
    box-shadow: none;
}
.multibutton{
    background-image: none;
    background-color: #EDEDEE;

    /*line-height:20px;
    font-size: 9pt;
    font-variant:small-caps;*/
}
.mimi .iframetab{
    line-height:24px;
    font-size:10pt;
    font-variant: none;
}
.iframetab:last-child{
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.iframetab:first-child{
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.iframesubtab.iframetab{
    background-image: none;
    background-color: #A6CAEE;
    background-image: -moz-linear-gradient(-90deg, #A6CAEE, #467399);
}


.iframetab_selected.iframetab{
    -moz-box-shadow:none;
    box-shadow:none;   
}
.iframetab_selected.iframesubtab.iframetab{
    background-color: #467399;
    background-image: none;
}
.iframetab{
    background-image:none; 
    background-color: #EDEDEE;
}

.mimi._common_d11 .lightboxDialog.dijitDialog {
    padding: 2px;
    background: linear-gradient(to top, #efefef,white);;
    border: 1px solid #ddd;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dlg_alert.dijitDialog .dijitDialogPaneContent{
    background:linear-gradient(to top, #e4e4e4,white);
}
.dlg_prompt.dijitDialog .dijitDialogPaneContent{
    background:linear-gradient(to top, #e4e4e4,white);
}


.tundra .dijitButtonNode {
    /* enabled state - inner */
    background-color: #E4E4E4;
    background-image: none;
    border-radius: 2px;
    padding:0 2px;
    border-color:#666;
}

.slotbar_toolbar .dijitButtonNode {
    color: #444;
    border: 1px solid #777;
    font-variant: normal;
    border-radius: 5px;
    padding: 1px 2px;
    box-shadow: none;
    font-weight: bold;
}

.tundra .dijitButtonHover .dijitButtonNode,
.tundra .dijitButtonNodeHover,
.tundra .dijitToggleButtonHover .dijitButtonNode,
.tundra .dijitDropDownButtonHover .dijitButtonNode,
.tundra .dijitComboButton .dijitButtonContentsHover,
.tundra .dijitComboButton .dijitDownArrowButtonHover {
    /* hover state - inner */
    /* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
    border-color: #666;
    background-image: none;
    background-color:#E4E4E4;
}

.tundra .dijitButton.dijitButtonActive .dijitButtonNode,
.tundra .dijitButtonNodeActive,
.tundra .dijitToggleButtonActive .dijitButtonNode,
.tundra .dijitDropDownButtonActive .dijitButtonNode,
.tundra .dijitComboButton .dijitButtonContentsActive,
.tundra .dijitComboButton .dijitDownArrowButtonActive{
    /* hover state - inner */
    /* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 90%,  from(rgba(182, 182, 182, 0.75)),to(rgba(239, 239, 239, 0.9)));
    background-image: -moz-linear-gradient(-90deg, rgba(182, 182, 182, 0.75),rgba(239, 239, 239, 0.9));*/
    background:#888;
    box-shadow: inset 1px 1px 2px #222;
    border-color: silver;
}
.tundra .dijitDisabled.dijitTextBoxReadOnly,
.tundra .dijitDisabled.dijitTextBoxReadOnly .dijitButtonNode,
.tundra .dijitDisabled.dijitButtonDisabled .dijitButtonNode,
.tundra .dijitDisabled.dijitToggleButtonDisabled .dijitButtonNode,
.tundra .dijitDisabled.dijitDropDownButtonDisabled .dijitButtonNode,
.tundra .dijitDisabled.dijitComboButtonDisabled .dijitButtonNode,
.tundra .dijitDisabled.dijitTextBoxDisabled,
.tundra .dijitDisabled.dijitComboBoxDisabled,
.tundra .dijitDisabled.dijitTextBoxDisabled .dijitButtonNode ,
.dijitTextArea.dijitTextAreaDisabled.dijitDisabled{
    /* disabled state - inner */
    border-color: #dedede;
    background-image: none;
    opacity: .8;
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#EEEEEE), to(#EDEDEE));
    background-image: -moz-linear-gradient(-90deg, #EEEEEE, #EDEDEE);*/
}
.fakeButton{
    background-image: none;
    background-color: #E4E4E4;
    cursor:pointer;
}

.darktoolbar{
    background-color: #444;
    background-image: linear-gradient(to bottom,#f5f8fa46, #eff1f344, #f3f4f531);

}
.mimi .slotbar_toolbar {
    padding-top: 2px;
    padding-bottom: 2px;
}

.popupLabel {
    padding-right: 15px;
    cursor: pointer;
    background: url(/_rsrc/common/css_icons/svg/16/popup.svg) no-repeat right !important;
}

.popupLabel:hover {
    background:rgba(234, 203, 110, 1.00);
}




/*----------------------------------------- icone svg -------------------------------------*/

.tundra ._gnrInvalidRow ._statusIcon, .tundra ._gnrInvalidRow._gnrReadOnlyRow ._statusIcon ,
.tundra ._gnrInvalidRow._gnrProtectionPass ._statusIcon{
    background: url(/_rsrc/common/css_icons/svg/16/form_status_red.svg) no-repeat center center;
}


.mimi .archive_record, .mimi .box{
    background: url(/_rsrc/common/css_icons/svg/16/archive_record.svg) no-repeat center center;
}

.mimi .delete_row{
    background: url(/_rsrc/common/css_icons/svg/16/delete_row.svg) no-repeat center center;
}

.mimi .batch_assignment{
    background: url(/_rsrc/common/css_icons/svg/16/batch_assignment.svg) no-repeat center center;
}

.mimi .batch_scripts, .mimi .batch_monitor_icon{
    background: url(/_rsrc/common/css_icons/svg/16/batch_scripts.svg) no-repeat center center;
}
.mimi .address_book, .mimi .frameplugin_staff_icon{
    background: url(/_rsrc/common/css_icons/svg/16/address_book.svg) no-repeat center center;
}


.mimi .gear{
    background: url(/_rsrc/common/css_icons/svg/16/gear.svg) no-repeat center center;
}


.mimi .create_edit_html_template {
    background: url(/_rsrc/common/css_icons/svg/16/create_edit_html_template.svg) no-repeat center center;
}

.delete_record{
    background: url(/_rsrc/common/css_icons/svg/16/delete_record.svg) no-repeat center center;
}

.mimi .execute_current_query_green, .mimi .run{
    background: url(/_rsrc/common/css_icons/svg/16/execute_current_query_green.svg) no-repeat center center;
}

.execute_current_query_grey{
    background: url(/_rsrc/common/css_icons/svg/16/execute_current_query_grey.svg) no-repeat center center;
}

.mimi .export_to_excel, .mimi .export{
    background: url(/_rsrc/common/css_icons/svg/16/export_to_excel.svg) no-repeat center center;
}
.mimi .picker, .mimi .iconbox.app.picker{
    background: url(/_rsrc/common/css_icons/svg/16/open_floating_window.svg) no-repeat center center;
}

.mimi .form_status_green{
    background: url(/_rsrc/common/css_icons/svg/16/form_status_green.svg) no-repeat center center;
}

.mimi .form_status_grey{
    background: url(/_rsrc/common/css_icons/svg/16/form_status_grey.svg) no-repeat center center;
}

.mimi .form_status_red{
    background: url(/_rsrc/common/css_icons/svg/16/form_status_red.svg) no-repeat center center;
}

.mimi .form_status_yellow{
    background: url(/_rsrc/common/css_icons/svg/16/form_status_yellow.svg) no-repeat center center;
}

.mimi .go_to_first_record, .mimi .first{
    background: url(/_rsrc/common/css_icons/svg/16/go_to_first_record.svg) no-repeat center center;
}

.mimi .go_to_last_record, .mimi .last{
    background: url(/_rsrc/common/css_icons/svg/16/go_to_last_record.svg) no-repeat center center;
}

.mimi .grid_options, .mimi .menu_icon{
    background: url(/_rsrc/common/css_icons/svg/16/menu_icon.svg) no-repeat center center;
}

.mimi .import_data_tool{
    background: url(/_rsrc/common/css_icons/svg/16/import_data_tool.svg) no-repeat center center;
}

.mimi .locked_padlock, .mimi .lock{
    background: url(/_rsrc/common/css_icons/svg/16/locked_padlock.svg) no-repeat center center;
}

.minus_square_grey{
    background: url(/_rsrc/common/css_icons/svg/16/minus_square_grey.svg) no-repeat center center;
}

.minus_square, .mimi .delete_record{
    background: url(/_rsrc/common/css_icons/svg/16/minus_square.svg) no-repeat center center;
}

.mimi .new_row, .mimi .add_row{
    background: url(/_rsrc/common/css_icons/svg/16/new_row.svg) no-repeat center center;
}

.new_record{
    background: url(/_rsrc/common/css_icons/svg/16/new_record.svg) no-repeat center center;
}

.mimi .new_set_column{
    background: url(/_rsrc/common/css_icons/svg/16/new_set_column.svg) no-repeat center center;
}

.mimi .heart{
    background: url(/_rsrc/common/css_icons/svg/16/heart.svg) no-repeat center center;
}

.mimi .next_record, .mimi .next{
    background: url(/_rsrc/common/css_icons/svg/16/next_record.svg) no-repeat center center;
}

.mimi .th_enableLinker .th_linkerAdd {
    background: url(/_rsrc/common/css_icons/svg/16/new_row.svg) no-repeat center center;
    width: 14px;
    position: absolute;
    right: 1px;
    top: 0px;
    bottom: 0;
    display: block;
    transform:scale(.85);
}
.mimi .dijitError.th_linkerField {
    margin-top: 1px;
    background:transparent  url(/_rsrc/common/css_icons/svg/16/form_status_red.svg) no-repeat right center !important;
}

.mimi .plus_square, .mimi .add_record{
    background: url(/_rsrc/common/css_icons/svg/16/plus_square.svg) no-repeat center center;
}

.mimi .plus_square_grey{
    background: url(/_rsrc/common/css_icons/svg/16/plus_square_grey.svg) no-repeat center center;
}

.mimi .previous_record, .mimi .previous{
    background: url(/_rsrc/common/css_icons/svg/16/previous_record.svg) no-repeat center center;
}

.mimi .print{
    background: url(/_rsrc/common/css_icons/svg/16/print.svg) no-repeat center center;
}

.mimi .read_only_status{
    background: url(/_rsrc/common/css_icons/svg/16/read_only_status.svg) no-repeat center center;
}

.mimi .reset_record, .mimi .revert{
    background: url(/_rsrc/common/css_icons/svg/16/reset_record.svg) no-repeat center center;
}

.mimi .search{
    background: url(/_rsrc/common/css_icons/svg/16/search.svg) no-repeat center center;
}

.mimi .save{
    background: url(/_rsrc/common/css_icons/svg/16/save.svg) no-repeat center center;
}

.mimi .select_query, .mimi .magnifier{
    background: url(/_rsrc/common/css_icons/svg/16/select_query.svg) no-repeat center center;
}

.mimi .select_view, .mimi .list{
    background: url(/_rsrc/common/css_icons/svg/16/select_view.svg) no-repeat center center;
}

.mimi .selection_view, .mimi .dismiss{
    background: url(/_rsrc/common/css_icons/svg/16/selection_view.svg) no-repeat center center;
}

.mimi .send_email, .mimi .mail{
    background: url(/_rsrc/common/css_icons/svg/16/send_email.svg) no-repeat center center;
}

.mimi .statistica_tools, .mimi .statistica_tools.sum{
    background: url(/_rsrc/common/css_icons/svg/16/statistica_tools.svg) no-repeat center center;
}

.mimi .unlocked_padlock, .mimi .unlock{
    background: url(/_rsrc/common/css_icons/svg/16/unlocked_padlock.svg) no-repeat center center;
}
/* @end */



.mimi .formside_ok .fh_semaphore {
background: url(/_rsrc/common/css_icons/svg/16/form_status_green.svg) no-repeat center center;
}

.mimi .formside_error .fh_semaphore{
background: url(/_rsrc/common/css_icons/svg/16/form_status_red.svg) no-repeat center center;
}

.mimi .formside_changed .fh_semaphore{
background: url(/_rsrc/common/css_icons/svg/16/form_status_yellow.svg) no-repeat center center;
}

.mimi .formside_readOnly .fh_semaphore{
background: url(/_rsrc/common/css_icons/svg/16/read_only_status.svg) no-repeat center center;
}

.mimi .formside_noItem .fh_semaphore{
background: url(/_rsrc/common/css_icons/svg/16/form_status_grey.svg) no-repeat center center;
}

.mimi .switch_off, .mimi .iconbox.icnBaseUserLogout.switch_off{
    background: url(/_rsrc/common/css_icons/svg/16/switch_off.svg) no-repeat center center;
}

.mimi .chat, .mimi .chat_plugin_icon{
    background: url(/_rsrc/common/css_icons/svg/16/chat.svg) no-repeat center center;
}

.mimi .duplicate_record, .mimi .duplicate_record.copy{
    background: url(/_rsrc/common/css_icons/svg/16/duplicate_record.svg) no-repeat center center;
}

.mimi .archive_record, .mimi .archive_record.box{
    background: url(/_rsrc/common/css_icons/svg/16/archive_record.svg) no-repeat center center;
}
.mimi .bulb_off, .mimi .bulb_on{ 
    background: url(/_rsrc/common/css_icons/svg/16/light_bulb.svg) no-repeat center center;
}

.mimi .paint, .mimi .batch_assignment{
    background: url(/_rsrc/common/css_icons/svg/16/batch_assignment.svg) no-repeat center center;
}
.mimi .star{
    background: url(/_rsrc/common/css_icons/svg/16/star.svg) no-repeat center center;
}
.mimi .trash{
    background: url(/_rsrc/common/css_icons/svg/16/trash.svg) no-repeat center center;
}
.mimi.tundra .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,.mimi.tundra .dijitArrowButtonInner{
    background: url(/_rsrc/common/css_icons/svg/16/popup.svg) no-repeat center center;
    transform:rotate(0deg) scale(0.8);
}
.mimi.tundra .dijitDropDownButton .dijitArrowButtonInner{ 
    transform:rotate(0deg) scale(1);
}

.mimi .application_menu{ 
    background: url(/_rsrc/common/css_icons/svg/16/menu_icon.svg) no-repeat center center;
}

.mimi .tree_hierarchical_view, .mimi .iframemenu_plugin_icon{
    background: url(/_rsrc/common/css_icons/svg/16/tree_hierarchical_view.svg) no-repeat center center;
}
.mimi .help{ 
    background: url(/_rsrc/common/css_icons/svg/16/online_help.svg) no-repeat center center;

}
.mimi .iconbox.spanner, .mimi .toolbox{
    background: url(/_rsrc/common/css_icons/svg/16/toolbox.svg) no-repeat center center;
}

.mimi .iconbox.pencil, .mimi .edit{
    background: url(/_rsrc/common/css_icons/svg/16/edit.svg) no-repeat center center;
}


.mimi .folder{
    background: url(/_rsrc/common/css_icons/svg/16/folder.svg) no-repeat center center;
}



.mimi .ping_semaphore{
    height: 16px;
    width: 16px;
    background: url(/_rsrc/common/css_icons/svg/16/socket_transmitting.svg) no-repeat center center;
    opacity: 0;
}

.mimi.ping_start .ping_semaphore{
    background: url(/_rsrc/common/css_icons/svg/16/socket_transmitting.svg) no-repeat center center;
    transition: opacity 200ms, visibility 200ms;
    opacity:1;
}

.mimi.ping_error .ping_semaphore{
    background: url(/_rsrc/common/css_icons/svg/16/sockets_disconnected.svg) no-repeat center center;
    transition: opacity 200ms, visibility 200ms;
    opacity:1;
}


.floatingPopupFixed {
    background: url(/_rsrc/common/css_icons/svg/16/popup.svg) no-repeat right;
}
